<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loan Products</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/loanoffers.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/utility.css' %}">

    
</head>
<body>
    
 <header>
    <div class="headerContainer" >
        <a onclick="location.href='{% url 'home' %}'"><div id="logo">
            <img src="{% static 'images/logo.png'%}" alt="logo" id="logoImage">
        </div></a>
        <div id="bankName">
            <div class="logoText primaryColor">Strive </div>
             <div class="logoText secondaryColor">Health</div>
        </div>
    </div>
    <div class="menuContainer">
        <div id="menu">
            <img src="{% static 'images/menu_secondary.png'%}" alt="menu" id="menuInActive" class="menuButton">
            <img src="{% static 'images/menu_accent.png'%}" alt="menu" id="menuActive" class="menuButton">
        </div>
        {% load custom_tags %}
        <div class="navContainer" >

            <div class="navOptionContainer" id="homeOptionContainer">
                <div id="homeOption" class="navOption" onclick="location.href='{% url 'home' %}'">Home</div>
                <div id="homeBlock" class="navBlock">
                    <a href="{% anchor 'home' 'wad-content' %}"><div class="navOptionOption" >What is SH?</div></a>
                    <a href="{% anchor 'home' 'tc' %}"><div class="navOptionOption">What do we offer?</div></a>
                    <a href="{% anchor 'home' 'c-a-c' %}"><div class="navOptionOption">Contact us</div></a>
                    <a href="{% anchor 'home' 'c-a-c' %}"><div class="navOptionOption">About Us</div></a>
                </div>
            </div>

            <div class="navOptionContainer" id="loanOptionContainer">
                <div id="loanOption" class="navOption" onclick="location.href='{% url 'heart' %}'">Heart</div>
                <div id="loanBlock" class="navBlock">
                    <div class="navOptionOption" onclick="window.open('loan.html#loanCredit','_self');">Heart Services</div>
                    <div class="navOptionOption" onclick="window.open('loan.html#latestOffers','_self');">Latest Offers</div>
                </div>
            </div>

            <div class="navOptionContainer" id="creditCardsOptionContainer">
                <div id="creditCardsOption" class="navOption" onclick="location.href='{% url 'brain' %}'">Stroke</div>
                <div id="creditCardsBlock" class="navBlock">
                    <div class="navOptionOption" onclick="window.open('creditCards.html#cardCredit','_self');">Brain Stroke</div>
                    <div class="navOptionOption" onclick="window.open('creditCards.html#latestOffers','_self');">Latest Offers</div>
                </div>
            </div>

            <div class="navOptionContainer" id="insuranceOptionContainer">
                <div id="insuranceOption" class="navOption" onclick="location.href='{% url 'lifestyle' %}'">Lifestyle</div>
                <div id="insuranceBlock" class="navBlock">
                    <div class="navOptionOption" onclick="window.open('insurance.html#insurancePremium','_self');">Lifestyle Development</div>
                    <div class="navOptionOption" onclick="window.open('insurance.html#latestOffers','_self');">Latest Offers</div>
                </div>
            </div>

            <div class="navOptionContainer" id="aboutUsOptionContainer">
                <div id="aboutUsOption" class="navOption" onclick="location.href='{% url 'statistics' %}'">Statistics</div>
                <div id="aboutUsBlock" class="navBlock">
                    <div class="navOptionOption" onclick="window.open('investments.html#companyOutlook','_self');">Company Outlook</div>
                    <div class="navOptionOption" onclick="window.open('investments.html#tableChartHeading','_self');">Yearly Report</div>
                </div>
            </div>

            <div id="loginSignUpContainer">
                <div class="navOption pointer" id="loginSignUp" onclick="window.open('login.html','_self');">Login/Sign up</div>
                <div class="loginSignUpBlock">
                    <div class="loginSignUpOption pointer" onclick="window.open('login.html','_self');">Log In</div>
                    <div class="loginSignUpOption pointer" onclick="window.open('signup.html','_self');">Sign Up</div>
                </div>
            </div>

        </div>
    </div>
</header>
   
<div class="blur" >
    <a id="readMore" href="#loanCredit">
        Read More
    </a>
</div>
<div class="links" id="loanCredit">
    <div class="links-grid container">
        <div class="links-item center">
            <i class="fab fa-youtube fa-3x"></i>
            <img src="{% static 'images/hospital.png' %}" style="width: 80px;">
            <h3>Heart Attack first Aid</h3>
            <p>
                If you think someone is having a heart attack: Have the person sit down, rest, and try to keep calm.
                Loosen any tight clothing. Ask if the person takes any chest pain medicine, such as nitroglycerin for
                a known heart condition, and help them take it
            </p>
        </div>
        <div class="links-item center">
            <i class="fas fa-chalkboard-teacher fa-3x"></i>
            <img src="{% static 'images/medicine.png' %}" style="width: 80px;">
            <h3>Medication</h3>
            <p>Medications to treat a heart attack might include: Aspirin. The 911 operator might tell you to take aspirin, or
                emergency medical personnel might give you aspirin immediately.</p >&nbsp;&nbsp;
        </div>
        <div class="links-item center">
            <i class="fas fa-briefcase fa-3x"></i>
            <img src="{% static 'images/attack.png' %}" style="width: 80px;">
            <h3>What Triggers Attack</h3>
            <p> A heart attack occurs when one or more of your coronary arteries becomes blocked</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        </div>
    </div>
</div>
<div class="about bg-light" id="latestOffers">
    <div class="about-grid container">
        <div class="about-item right">
            <img src="{% static 'images/icon.png' %}" style="width: 100px;height: 100px;">
        </div>

        <div class="about-item">
            <h3 class="bg-light">Insurance Services</h3>
            <p class="bg-light">In order to make your visit to Strive Health more convenient
                we are excited to offer direct billing to most insurance providers.</p>
        </div>
    </div>
</div>
<div class="footer bg-dark center">
    <p>All rights reserved  &copy; 2020</p>
</div>

</body>
</html>