<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strive Health</title>
    {% load static %}
    <link href="{% static 'css/index.css'%}" rel="stylesheet">
    <link href="{% static 'css/carousel.css'%}" rel="stylesheet">
    <link href="{% static 'css/header.css'%}" rel="stylesheet">
    <link href="{% static 'css/utility.css'%}" rel="stylesheet">
</head>
<body>

<header>
    <div class="headerContainer" >
        <a onclick="location.href='{% url 'home' %}'"><div id="logo">
            <img src="{% static 'images/logo.png'%}" alt="logo" id="logoImage">
        </div></a>
        <div id="bankName">
            <div class="logoText primaryColor">Strive </div>
             <div class="logoText secondaryColor">Health</div>
        </div>
    </div>
    <div class="menuContainer">
        <div id="menu">
            <img src="{% static 'images/menu_secondary.png'%}" alt="menu" id="menuInActive" class="menuButton">
            <img src="{% static 'images/menu_accent.png'%}" alt="menu" id="menuActive" class="menuButton">
        </div>
        {% load custom_tags %}
        <div class="navContainer" >

            <div class="navOptionContainer" id="homeOptionContainer">
                <div id="homeOption" class="navOption" onclick="location.href='{% url 'home' %}'">Home</div>
                <div id="homeBlock" class="navBlock">
                    <a href="{% anchor 'home' 'wad-content' %}"><div class="navOptionOption" >What is SH?</div></a>
                    <a href="{% anchor 'home' 'tc' %}"><div class="navOptionOption">What do we offer?</div></a>
                    <a href="{% anchor 'home' 'c-a-c' %}"><div class="navOptionOption">Contact us</div></a>
                    <a href="{% anchor 'home' 'c-a-c' %}"><div class="navOptionOption">About Us</div></a>
                </div>
            </div>

            <div class="navOptionContainer" id="loanOptionContainer">
                <div id="loanOption" class="navOption" onclick="location.href='{% url 'heart' %}'">Heart</div>
                <div id="loanBlock" class="navBlock">
                    <div class="navOptionOption" onclick="window.open('loan.html#loanCredit','_self');">Heart Services</div>
                    <div class="navOptionOption" onclick="window.open('loan.html#latestOffers','_self');">Latest Offers</div>
                </div>
            </div>

            <div class="navOptionContainer" id="creditCardsOptionContainer">
                <div id="creditCardsOption" class="navOption" onclick="location.href='{% url 'brain' %}'">Stroke</div>
                <div id="creditCardsBlock" class="navBlock">
                    <div class="navOptionOption" onclick="window.open('creditCards.html#cardCredit','_self');">Brain Stroke</div>
                    <div class="navOptionOption" onclick="window.open('creditCards.html#latestOffers','_self');">Latest Offers</div>
                </div>
            </div>

            <div class="navOptionContainer" id="insuranceOptionContainer">
                <div id="insuranceOption" class="navOption" onclick="location.href='{% url 'lifestyle' %}'">Lifestyle</div>
                <div id="insuranceBlock" class="navBlock">
                    <div class="navOptionOption" onclick="window.open('insurance.html#insurancePremium','_self');">Lifestyle Development</div>
                    <div class="navOptionOption" onclick="window.open('insurance.html#latestOffers','_self');">Latest Offers</div>
                </div>
            </div>

            <div class="navOptionContainer" id="aboutUsOptionContainer">
                <div id="aboutUsOption" class="navOption" onclick="location.href='{% url 'statistics' %}'">Statistics</div>
                <div id="aboutUsBlock" class="navBlock">
                    <div class="navOptionOption" onclick="window.open('investments.html#companyOutlook','_self');">Company Outlook</div>
                    <div class="navOptionOption" onclick="window.open('investments.html#tableChartHeading','_self');">Yearly Report</div>
                </div>
            </div>

            <div id="loginSignUpContainer">
                <div class="navOption pointer" id="loginSignUp" onclick="window.open('login.html','_self');">Login/Sign up</div>
                <div class="loginSignUpBlock">
                    <div class="loginSignUpOption pointer" onclick="window.open('login.html','_self');">Log In</div>
                    <div class="loginSignUpOption pointer" onclick="window.open('signup.html','_self');">Sign Up</div>
                </div>
            </div>

        </div>
    </div>
</header>

<slides>
    <div class="slideshow-container">


        <div class="mySlides fade">
            <img src="https://source.unsplash.com/1600x900/?doctor" style="width:100%; height:430px;object-fit: cover;">\
            <div class="dots">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </div>

        <div class="mySlides fade">
            <img src="https://source.unsplash.com/1600x900/?ambulance" style="width:100%;height:430px;object-fit: cover;">
            <div class="dots">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </div>

        <div class="mySlides fade">
            <img src="https://source.unsplash.com/1600x900/?hospital" style="width:100%;height:430px;object-fit: cover;">
            <div class="dots">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </div>
    <script src="js/carousel.js"></script>


</slides>

<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        setTimeout(showSlides, 5000);
    }
</script>

<section class="w-a-d default-grid">
    <div class="wad-content" id="wad-content">
        <div class="h2">Strive Health</div>
        <div class="columns">
            Strive Health is a personal health assistant based in British Columbia and one of the busiest in the Fraser Health Authority. It is located in New Westminster overlooking the Fraser River and is the only hospital in
            the Lower Mainland that is immediately adjacent to a Skytrain station.
    </div>

</section>

<section class="tech-cards default-grid" id="tc">
    <div class="tc-content">

            <div onclick="window.open('loan.html');" class="tech-card">
                <img src="{% static 'images/i1.jpg'%}" alt="i1">
                <h3>Heart Health</h3>
                <p>Cardiovascular diseases have high rates of morbidity, mortality, and disability,
                    and are the leading causes of human death irrespective of age, race, and region.
                </p>
            </div>


            <div onclick="window.open('creditCards.html');" class="tech-card">
                <img src="{% static 'images/i2.jpg'%}" alt="i2">
                <h3>Brain Health</h3>
                <p>Aging and a family history can increase your risk for a stroke,
                    but women can reduce this risk by managing factors that are under their control.
                </p>
            </div>


            <div onclick="window.open('insurance.html');" class="tech-card">
                <img src="{% static 'images/i3.jpg'%}" alt="i3">
                <h3>Lifestyle</h3>
                <p>Being healthy should be part of your overall lifestyle. Living a healthy
                    lifestyle can help prevent cardiovascular diseases and neurological diseases.
                </p>
            </div>

    </div>

</section>

<section class="w-h-n default-grid">
    <div class="whn-content">
        <h2>We use Advance Machine Learning</h2>
        <p>We use specific techniques and methods to analyze big amounts of data,
             and advanced machine learning techniques we use to make state-of-the art AI models.
           We apply Bayesian methods in many areas: from disease diagnosis to drug discovery.
        </p>
    </div>

</section>

<section class="c-a-c" id="c-a-c">
    <div class="c-us">
        <h2>Contact Us</h2>
        <p>Lorem ipsum. - CEO and Founder<br><br>
        </p>
        <p>contact@strivehealth.ca</p>
    </div>
    <div class="a-o-c">
        <h2>About Our Company</h2>
        <p>Launched in the year 2020 with a aim to revolutionise the Disease Diagnosis we slowly became market leader in this field.
            Launched by four IT Enterprenaurs to provide affordable diagnosis, it soon took over Market giants and became a market leader
            in North America and later penetrated into Latin America as well.
        </p>
    </div>
</section>


<footer style="display: flex;justify-content: center;align-items: center;">
    
    <div >
        <a href="#">SH&copy; </a>
        <p>All rights reserved</p>
        
    </div>
</footer>

</body>
</html>