<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loan Products</title>
    <link rel="stylesheet" type="text/css" href="css/loanoffers.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/utility.css">

    
</head>
<body>
    
    <header>
        <div class="headerContainer" >
            <a href="index.html"><div id="logo">
                <img src="images/logo.png" alt="logo" id="logoImage">
            </div></a>
            <div id="bankName">
                <div class="logoText primaryColor">Stephen</div>
                <div class="logoText secondaryColor">Comercial</div>
                <div class="logoText primaryColor">Bank</div>
                <div class="logoText secondaryColor">of</div>
                <div class="logoText secondaryColor">Commerce</div>
            </div>
        </div>
        <div class="menuContainer">
            <div id="menu">
                <img src="images/menu_secondary.png" alt="menu" id="menuInActive" class="menuButton">
                <img src="images/menu_accent.png" alt="menu" id="menuActive" class="menuButton">
            </div>
            <div class="navContainer" >
    
                <div class="navOptionContainer" id="homeOptionContainer">
                    <div id="homeOption" class="navOption" onclick="window.open('index.html');">Home</div>
                    <div id="homeBlock" class="navBlock">
                        <a href="index.html#wad-content"><div class="navOptionOption" >What is SCBC?</div></a>
                        <a href="index.html#tc"><div class="navOptionOption">What do we offer?</div></a>
                        <a href="index.html#c-a-c"><div class="navOptionOption">Contact us</div></a>
                        <a href="index.html#c-a-c"><div class="navOptionOption">About our bank</div></a>
                    </div>
                </div>
    
                <div class="navOptionContainer" id="loanOptionContainer">
                    <div id="loanOption" class="navOption" onclick="window.open('loan.html','_self');">Loan</div>
                    <div id="loanBlock" class="navBlock">
                        <div class="navOptionOption" onclick="window.open('loan.html#loanCredit','_self');">Loan Services</div>
                        <div class="navOptionOption" onclick="window.open('loan.html#latestOffers','_self');">Latest Offers</div>
                    </div>
                </div>
    
                <div class="navOptionContainer" id="creditCardsOptionContainer">
                    <div id="creditCardsOption" class="navOption" onclick="window.open('creditCards.html','_self');">Credit Cards</div>
                    <div id="creditCardsBlock" class="navBlock">
                        <div class="navOptionOption" onclick="window.open('creditCards.html#cardCredit','_self');">Credit Card Services</div>
                        <div class="navOptionOption" onclick="window.open('creditCards.html#latestOffers','_self');">Latest Offers</div>
                    </div>
                </div>
    
                <div class="navOptionContainer" id="insuranceOptionContainer">
                    <div id="insuranceOption" class="navOption" onclick="window.open('insurance.html','_self');">Insurance</div>
                    <div id="insuranceBlock" class="navBlock">
                        <div class="navOptionOption" onclick="window.open('insurance.html#insurancePremium','_self');">Insurance Services</div>
                        <div class="navOptionOption" onclick="window.open('insurance.html#latestOffers','_self');">Latest Offers</div>
                    </div>
                </div>
    
                <div class="navOptionContainer" id="aboutUsOptionContainer">
                    <div id="aboutUsOption" class="navOption" onclick="window.open('investments.html','_self');">Investments</div>
                    <div id="aboutUsBlock" class="navBlock">
                        <div class="navOptionOption" onclick="window.open('investments.html#companyOutlook','_self');">Company Outlook</div>
                        <div class="navOptionOption" onclick="window.open('investments.html#tableChartHeading','_self');">Yearly Report</div>
                    </div>
                </div>
    
                <div id="loginSignUpContainer">
                    <div class="navOption pointer" id="loginSignUp" onclick="window.open('login.html','_self');">Login/Sign up</div>
                    <div class="loginSignUpBlock">
                        <div class="loginSignUpOption pointer" onclick="window.open('login.html','_self');">Log In</div>
                        <div class="loginSignUpOption pointer" onclick="window.open('signup.html','_self');">Sign Up</div>
                    </div>
                </div>
    
            </div>
        </div>
    </header>
   
<div class="blur" >
    <a id="readMore" href="#loanCredit">
        Read More
    </a>
</div>
<div class="links" id="loanCredit">
    <div class="links-grid container">
        <div class="links-item center">
            <i class="fab fa-youtube fa-3x"></i>
            <img src="images/carloan.png" style="width: 80px;">
            <h3>SCBC Car Loan</h3>
            <p>A premium Loan Product at attractive rate of interest 7% and we bear the first three EMI and Insurance for 4 months</p>
        </div>
        <div class="links-item center">
            <i class="fas fa-chalkboard-teacher fa-3x"></i>
            <img src="images/education.png" style="width: 80px;">
            <h3>SCBC Education Loan</h3>
            <p>A product for the Students. Pay the Loan after 8 months of your graduation . We also have the best rate of Interest in market @6% </p>
        </div>
        <div class="links-item center">
            <i class="fas fa-briefcase fa-3x"></i>
            <img src="images/house.png" style="width: 80px;">
            <h3>SCBC House Loan</h3>
            <p> A product Launched for home Buyers . We will pay your builder and will charge you once you get the possession of the House . We have kept Interest Rates as low as 5%</p>
        </div>
    </div>
</div>
<div class="about bg-light" id="latestOffers">
    <div class="about-grid container">
        <div class="about-item right">
            <img src="images/icon.png" style="width: 100px;height: 100px;">
        </div>

        <div class="about-item">
            <h3 class="bg-light">Summer Offer</h3>
            <p class="bg-light">We have a special Summer loan offer where we have removed the File Processing charges and also we will be taking care of first installment for you</p>
        </div>
    </div>
</div>
<div class="footer bg-dark center">
    <p>All rights reserved  &copy; 2020</p>
</div>

</body>
</html>