<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log-In</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'library/font-awesome-4.7.0/css/font-awesome.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.1.3/firebase.js" ></script>
    <script src="{% static 'js/login.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/LS.css'%}">
    <link rel="stylesheet" href="{% static 'css/header.css'%}">
    <link rel="stylesheet" href="{% static 'css/utility.css'%}">
    <script>
       // Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyBRAmbOE0Je6pYBet1poJrssEgVHIy79Wk",
  authDomain: "django-51dc3.firebaseapp.com",
  databaseURL: "https://django-51dc3-default-rtdb.firebaseio.com",
  projectId: "django-51dc3",
  storageBucket: "django-51dc3.appspot.com",
  messagingSenderId: "606023351895",
  appId: "1:606023351895:web:a984b45afde710d1996d12",
  measurementId: "G-17ZG54CB2H"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);

    firebase.initializeApp(config);
    googleSignin=()=>{

        base_proveider=new Firebase.auth.GoogleAuthProvider()
        firebase.auth().signinWithPopup(base_proveider).then(function(result){

        }).catch(function (err){
            console.log(err)
        })
    }


    </script>
</head>
<body>

<header>
    <div class="headerContainer" >
        <a onclick="location.href='{% url 'home' %}'"><div id="logo">
            <img src="{% static 'images/logo.png'%}" alt="logo" id="logoImage">
        </div></a>
        <div id="bankName">
            <div class="logoText primaryColor">Strive </div>
             <div class="logoText secondaryColor">Health</div>
        </div>
    </div>
    <div class="menuContainer">
        <div id="menu">
            <img src="{% static 'images/menu_secondary.png'%}" alt="menu" id="menuInActive" class="menuButton">
            <img src="{% static 'images/menu_accent.png'%}" alt="menu" id="menuActive" class="menuButton">
        </div>
        {% load custom_tags %}
        <div class="navContainer" >

            <div class="navOptionContainer" id="homeOptionContainer">
                <div id="homeOption" class="navOption" onclick="location.href='{% url 'home' %}'">Home</div>
                <div id="homeBlock" class="navBlock">
                    <a href="{% anchor 'home' 'wad-content' %}"><div class="navOptionOption" >What is SH?</div></a>
                    <a href="{% anchor 'home' 'tc' %}"><div class="navOptionOption">What do we offer?</div></a>
                    <a href="{% anchor 'home' 'c-a-c' %}"><div class="navOptionOption">Contact us</div></a>
                    <a href="{% anchor 'home' 'c-a-c' %}"><div class="navOptionOption">About Us</div></a>
                </div>
            </div>

            <div class="navOptionContainer" id="loanOptionContainer">
                <div id="loanOption" class="navOption" onclick="location.href='{% url 'heart' %}'">Heart</div>
                <div id="loanBlock" class="navBlock">
                    <div class="navOptionOption" onclick="window.open('loan.html#loanCredit','_self');">Heart Services</div>
                    <div class="navOptionOption" onclick="window.open('loan.html#latestOffers','_self');">Latest Offers</div>
                </div>
            </div>

            <div class="navOptionContainer" id="creditCardsOptionContainer">
                <div id="creditCardsOption" class="navOption" onclick="location.href='{% url 'brain' %}'">Stroke</div>
                <div id="creditCardsBlock" class="navBlock">
                    <div class="navOptionOption" onclick="window.open('creditCards.html#cardCredit','_self');">Brain Stroke</div>
                    <div class="navOptionOption" onclick="window.open('creditCards.html#latestOffers','_self');">Latest Offers</div>
                </div>
            </div>

            <div class="navOptionContainer" id="insuranceOptionContainer">
                <div id="insuranceOption" class="navOption" onclick="location.href='{% url 'lifestyle' %}'">Lifestyle</div>
                <div id="insuranceBlock" class="navBlock">
                    <div class="navOptionOption" onclick="window.open('insurance.html#insurancePremium','_self');">Lifestyle Development</div>
                    <div class="navOptionOption" onclick="window.open('insurance.html#latestOffers','_self');">Latest Offers</div>
                </div>
            </div>

            <div class="navOptionContainer" id="aboutUsOptionContainer">
                <div id="aboutUsOption" class="navOption" onclick="location.href='{% url 'statistics' %}'">Statistics</div>
                <div id="aboutUsBlock" class="navBlock">
                    <div class="navOptionOption" onclick="window.open('investments.html#companyOutlook','_self');">Company Outlook</div>
                    <div class="navOptionOption" onclick="window.open('investments.html#tableChartHeading','_self');">Yearly Report</div>
                </div>
            </div>

            <div id="loginSignUpContainer">
                <div class="navOption pointer" id="loginSignUp" onclick="location.href='{% url 'signin' %}'">Login/Sign up</div>
                <div class="loginSignUpBlock">
                    <div class="loginSignUpOption pointer" onclick="location.href='{% url 'signin' %}'">Log In</div>
                    <div class="loginSignUpOption pointer" onclick="location.href='{% url 'signup' %}'">Sign Up</div>
                </div>
            </div>

        </div>
    </div>
</header>

<div class="container">
    <div class="contentContainer" style="height: 500px;width: 400px">

        <div class="textImage">

            <div class="primaryColor" style="font-size: 25px;margin-top: 20px;text-decoration: underline;">Log In</div>
        </div>

        <form class="dataInput" onsubmit="return false">
            <div class="validationLabel" id="validationLabel"></div>

            <p class="input-container">
                <input type="email" id="input-email" class="login-input" placeholder="*Email" required>
            </p>


            <p class="input-container">
                <input type="password" id="input-password" class="login-input" placeholder="*Password" required>
            </p>

            <div style="display: flex;flex-direction: column;justify-content: center;">
                <input type="submit" name="Sign Up" id="signUpButton"  onclick="Login()">
                <input id="googleplus" type="button" value="Google +" onclick="googleSignin()"/>
            </div>


        </form>

        <div class="loginLine" style="margin-top: 50px">
            <p style="display: inline;color: #888888">Become a member. </p>
            <a class="loginButton" onclick="location.href='{% url 'signup' %}'" id="loginButton">Sign-Up</a>
        </div>


    </div>
</div>

<script src="{% static 'js/LS.js' %}"></script>

</body>
</html>