html, body {
    height: 100%;
    margin: 0;
}

.full-height {
    height: 100%;
    background: yellow;
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.main-section{
    width: 80vw;
    height: 100%;
    background-color: #fff7f7;
    flex-wrap: wrap;
}
.side-bar{
    width: 20vw;
    height: 100%;
    min-width: 300px;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.card-item{
    width:200px;height: 280px;
    padding: 10px;
    background-color: white;
    margin: 20px
}
.card-image{
    width:200px;
    border-bottom: 1px solid lightgray
}

.card-item-button{
    height: 30px;
    width: 55px;
    padding: 5px;
    background-color: #d32f2f;
    color: #ffebee;
    text-align: center;
    border: 2px solid #b71c1c;
    border-radius: 7px;
    margin-left: 55px;
}
.card-item-button:hover{
    background-color: #ffebee;
    color: #d32f2f;
    transition-duration: .3s;
}

.order-item{
    justify-content: space-between;
    padding: 5px 5px 10px 5px;
    border-bottom: 2px solid grey;
}

.total {
    color: #b71c1c;
    font-size:30px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}
.checkout-button{
    width: 200px;
    height: 60px;
    color: #ffebee;
    background-color: #d32f2f;
    border: 2px solid #b71c1c;
    align-self: center;
}
.checkout-button:hover{
    background-color: #ffebee;
    color: #b71c1c;
    transition-duration: .2s;
}

@media only screen and (max-width: 622px) {
    #store_section {
        flex-direction: column-reverse;
    }
}