

body, html {
    height: 100%;
    margin: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgba(0, 0, 0, 0.9);
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}

.center {
    text-align: center;
    margin: auto;
}

.right {
    text-align: right;
    margin: auto;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #f4f4f4;
}

.blur {
    height: 100vh;
    width: 100%;
    background-image: url("../images/lifestyle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: center;
    

}
#readMore{
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    
}

#readMore:hover{
    color: #333;
    background-color: white;
    transition: .5s;
    
}
#readMore:active{
    
    padding: 10px 25px;
    transition: .5s;
    
}

.logo {
    position: absolute;
    z-index: 0;
    top: 10%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    width: 300px;
    height: 350px;
    text-align: center;
}

.logo-image {
    background-image: url("logo.png");
    height: 180px;
    width: 300px;
    background-size: 180px 180px;
    background-repeat: no-repeat;
    background-position: center;
}

.logo-welcome {
    text-align: center;
    font-size: 2.2rem;
    margin-top: 1rem;
}

.logo-info {
    text-align: center;
    line-height: 1.7;
    margin-top: 1rem;
}

.links-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);

}

.about-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.footer {
    padding: 1.2rem;
}

h3 {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-weight: bold;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;


}




@media only screen and (max-width: 510px) {

    .blur{

        max-width: 350px;
        max-height: 510px;
    }

}

@media only screen and (max-width: 610px) {

    .blur{

        max-width: 490px;
        max-height: 610px;
    }

}

@media only screen and (max-width: 710px) {

    .blur{

        max-width: 690px;
        max-height: 610px;
    }
}

@media only screen and (max-width: 808px) {

    .blur{

        max-width: 790px;
        max-height: 610px;
    }

}


@media only screen and (max-width: 908px) {

    .blur{

        max-width: 890px;
        max-height: 610px;
    }

}
